#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 3em;
  margin-right: 3em;
}

ion-progress-bar {
  border-radius: 8px;
  height: 24px;
}
